<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель</title>
</head>
<body>

<h3>все пользователи</h3>
<table border="1" >
    <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Роль</th>
        <th>Действие</th>
    </tr>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.username}"></td>
        <td>
            <span th:each="role, iterStat : ${u.roles}"
                  th:text="${role.name} + (${iterStat.last} ? '' : ', ')"></span>
        </td>
        <td>
            <a th:href="@{/admin/{id}/edit(id=${u.id})}">Редактировать</a>
            <form th:action="@{/admin/{id}(id=${u.id})}" method="post" style="display: inline;">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
</table>

<a href="/admin/new">Создать нового пользователя </a>
<br/>
<form th:action="@{/logout}" method="post" style="display: inline;">
    <button type="submit">Выйти</button>
</form>
</body>
</html>