<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Создать пользователя</title>
</head>
<body>
<h1>Создать нового пользователя</h1>
<form th:action="@{/admin}" method="post" th:object="${user}">
  <label>Логин: <input type="text" th:field="*{username}"/></label><br/>
  <label>Пароль: <input type="password" th:field="*{password}"/></label><br/>
  <label>Роль:
    <select multiple name="roles">
      <option th:each="role : ${roles}"
              th:value="${role.id}"
              th:text="${role.name}"></option>
    </select>
  </label><br/>
  <button type="submit">Создать</button>
</form>
<a href="/admin">панель админа</a>
</body>
</html>